.HelloWorld {
  font-size: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  .HelloWorld {
    font-size: 5rem;
  }
}

a {
  color: black;
  border-bottom: 2px black solid;
  display: inline-block;
  text-decoration: none;
}

.next-page {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  position: relative;
  margin-right: -2rem;
}

@media (min-width: 992px) {
  .next-page {
    margin-right: -5rem;
  }
}

.next-page:hover {
  color: red;
}
