.HelloWorld {
  font-size: 5rem;
  text-align: center;
}

a {
  color: black;
  border-bottom: 2px black solid;
  display: inline-block;
  text-decoration: none;
}

.next-page {
  border: 0;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
  position: relative;
  margin-right: -5rem;
}

.next-page:hover {
  color: red;
}
